body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #242582;
  color: #FFFFFF;
}

.header {
  border-bottom: 1px solid #99738E;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #553D67;
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-weight: bold;
  color: #F64C72;
}

.navbar-nav .nav-link {
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
  color: #99738E;
}

.navbar-nav .nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.navbar-nav .nav-link:hover:after {
  transform: scaleX(1);
}
.navbar-brand{
  color: #000000;
}
.navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

.navbar-nav .nav-link:hover:before {
  transform: scaleX(1);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.section {
  height: 140vh;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #FFFFFF;
  background: linear-gradient(45deg, #373e98, #f16775, #fee36e, #ceb92c, #2a2a2a);
  background-size: 500% 500%;
  animation: gradientAnimation 15s ease infinite;
  border: 1px solid #99738E;
  text-align: center;
}
@media (max-width: 768px) {
  .section {
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #FFFFFF;
  background: linear-gradient(45deg, #373e98, #f16775, #fee36e, #ceb92c, #2a2a2a);
  background-size: 500% 500%;
  animation: gradientAnimation 15s ease infinite;
  border: 1px solid #99738E;
  text-align: center;
  }
}
.section.active {
  display: flex;
}

.section h2 {
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
justify-content: space-between;
align-items: flex-start;
}

.contact-info {
  background-color: #14142B;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #553D67;
  display: flex;
}

.contact-image {
  width: 200px;
  margin-right: 20px;
}

.contact-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.contact-details {
  flex: 1;
  text-align: left;
  position: relative;
  margin-right: 20px;
}

.contact-details::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.contact-details h2 {
  margin-left: 10px;
  margin-top: 10px;
}
.contact-details p {
  margin-left: 10px;
  margin-top: 10px;
}

.footer {
  background-color: #553D67;
  text-align: center;
  padding: 10px;
}

.footer p {
  margin: 0;
}

.video-wrapper {
  position: relative;
  width: 80%;
  padding-top: 28.125%; /* 16:9 aspect ratio */
  margin: 0 auto;
}

#videoPlayer {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 15%;
  width: 70%;
  height: 100%;
  max-width: 100%;
}

.icon {
  font-family: "Material Icons";
}

@media (max-width: 768px) {
  .video-wrapper {
    width: 110%;
    height: 70%;
    left: 30px;
  }
  #videoPlayer {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0%;
    width: 90%;
    height: 100%;
    max-width: 100%;
  }
  
}

@media (max-width: 576px) {
  .video-wrapper {
    width: 110%;
    height: 70%;
    left: 25px;
  }
  #videoPlayer {
    position: absolute;
    top: 0;
    margin-top: 50px;
    width: 90%;
    height: 100%;
    max-width: 100%;
  }
  
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .navbar-nav .nav-link {
    font-size: 16px;
  }
}
h1 {
  position: absolute  ;
  top: 0;
  color: #000000;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  z-index: 1;
  font-size: 30px; 
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px; 
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    text-align: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 20px; 
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    text-align: center;
  }
}
.profile-paragraph {
  text-align: justify;
  color: #141212;
  font-size: 20px;
  margin-bottom: 20px;
  float: left;
  width: 200%;
}

.profile-paragraph::after {
  content: "";
  flex: auto;
}
@media (max-width: 768px) {
  .profile-paragraph {
    text-align: justify;
  color: #141212;
  font-size: 13px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  }
}

@media (max-width: 576px) {
  .profile-paragraph {
    text-align: justify;
  color: #141212;
  font-size: 13px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  }
}
.judul{
  color: #141212;
  font-weight: bold;
  font-size: 40px;
  margin-top: -10px;
  margin-bottom: 70px;
  float: left;
  width: 200%;
}
@media (max-width: 768px) {
.judul{
  color: #141212;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 50px;
  float: left;
  width: 100%;
}

}


@media (max-width: 576px) {
.judul{
color: #141212;
font-weight: bold;
font-size: 20px;
margin-bottom: 20px;
float: left;
width: 100%;
}
}
/*pelayanan*/

/* judul-h1 */
/* judul-h1 */
.judul-h1 {
  color: #141212;
  font-weight: bold;
  font-size: 30px;
  margin-left: 250px;
  float: none; /* Menghapus float */
  width: 100%; /* Mengubah width menjadi 100% */
  text-align: center; /* Menambahkan text-align: center */
}

/* judul-pelayanan */
.judul-pelayanan {
  color: #141212;
  font-weight: bold;
  font-size: 30px;
  margin-left: 250px;
  margin-top: 80px;
  margin-bottom: 30px;
  float: none; /* Menghapus float */
  width: 100%; /* Mengubah width menjadi 100% */
  text-align: center; /* Menambahkan text-align: center */
}

/* judul-kegiatan */
.judul-kegiatan {
  color: #141212;
  font-weight: bold;
  font-size: 30px;
  margin-left: 250px;
  margin-top: 110px;
  margin-bottom: 40px;
  float: none; /* Menghapus float */
  width: 100%; /* Mengubah width menjadi 100% */
  text-align: center; /* Menambahkan text-align: center */
} 

/* gambar-image */
.gambar-image {
  width: 130%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.gambar-image img {
  max-width: 80%;
  margin-left: 200px;
  height: auto;
}

/* program-image */
.program-image {
  width: 130%;
  display: flex;
  align-items: center;
  margin-bottom: 300px;
  margin-left: 10px;
}
.program-image img {
  max-width: 80%;
  margin-left: 200px;
  height: auto;
}


/* peduli-image */
.peduli-image {
  width: 130%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.peduli-image img {
  max-width: 80%;
  margin-left: 200px;
  height: auto;
}


/* Media Queries */
@media (max-width: 768px) {
  /* judul-h1 */
  .judul-h1 {
    color: #141212;
    font-weight: bold;
    font-size: 30px;
    margin-left: -5px;
    margin-bottom: 35px;
  }

  /* judul-pelayanan */
  .judul-pelayanan {
    font-size: 30px;
    margin-left: 0;
    margin-top: 10px;
  }

  /* judul-kegiatan */
  .judul-kegiatan {
    color: #141212;
    font-weight: bold;
    margin-left: -5px;
    font-size: 30px;
    margin-bottom: 35px;
  }

  /* gambar-image */
  .gambar-image {
    width: 50%;
    max-width: 100%;
    margin-left: -5;
    margin-bottom: 20px;
  }

  /* program-image */
  .program-image {
    width: 90%;
    max-width: 100%;
    margin-left: -105px;
    margin-bottom: 350px;
  }
  /* peduli-image */
  .peduli-image {
    width: 70%;
    max-width: 100%;
    margin-left: -115px;
    margin-bottom: 120px;
  }
}

@media (max-width: 576px) {
  /* judul-h1 */
  .judul-h1 {
    font-size: 25px;
    margin-left: -5px;
  }

  /* judul-pelayanan */
  .judul-pelayanan {
    font-size: 25px;
    margin-left: -5px;
    margin-top: 10px;
  }

  /* judul-kegiatan */
  .judul-kegiatan {
    font-size: 25px;
  }

  /* gambar-image */
  .gambar-image {
    width: 70%;
    margin-left: -100px;
    max-width: 100%;
    margin-bottom: 130px;
  }

  /* program-image */
  .program-image {
    width: 100%;
    margin-left: -133px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 200px;
  }

  /* peduli-image */
  .peduli-image {
    width: 85%;
    max-width: 100%;
    margin-left: -127px;
    margin-bottom: 100px;
  }
}

#cv .section {
  color: #000000;
}

#cv .content {
  text-align: left;
  color: #000000;
}

#cv .contact {
  color: #000000;
}

#cv .contact h2 {
  color: #000000;
  font-weight: bold;
}

#cv .content h2 {
  text-align: center;
}

.cv-container {
  background-color: #f2f2f2;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  /* Add the following lines */
  padding: 20px;
  box-sizing: border-box;
  /* Set the max-height property */
  max-height: 600px;
  overflow-y: scroll;
}


.content {
  /* Remove the padding and grid-gap */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Add the following lines */
  grid-gap: 10px;
  box-sizing: border-box;
}

.profile-picture {
  max-width: 100%;
  height: auto;
}

.content h2 {
  text-align: center;
  font-weight: bold;
}

.content ul {
  padding-left: 20px;
  /* Add the following lines */
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.skills ul,
.language ul {
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  .cv-container {
    grid-template-columns: 1fr;
    width: 100%;
    /* Remove the max-height property */
    max-height: none;
    /* Remove the overflow-y property */
    overflow-y: visible;
  }

  /* Add the following lines */
  .content {
    overflow-y: scroll;
    /* Set the max-height property */
    max-height: 200px;
  }

  .content ul {
    padding-left: 0;
    /* Remove the padding-left property */
    padding-left: 0;
  }
  .profile-picture {
    max-width: 30%;
    height: auto;
  }
}
.container-c {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 1000px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #f0f0f0;
  padding: 10px;
}

.left {
  width: 500px;
  margin-left: 70px;
  margin-bottom: 150px;
}

.right {
  width: 500px;
  margin-right: 30px;
}

.right h3,
.left h3,
.profile-paragraph1,
.profile-paragraph2 {
  color: #000000;
  text-align: left;
}

/* Media query untuk tampilan responsif */
@media (max-width: 768px) {
  .container-c {
    grid-template-columns: 1fr; /* Mengubah tata letak menjadi satu kolom */
    width: 90%; /* Mengatur lebar container menjadi 90% dari lebar viewport */
    padding: 20px; /* Atur padding jika diperlukan */
    margin: 0 auto; /* Menengahkan container secara horizontal */
  }

  .left,
  .right {
    width: 100%; /* Mengatur lebar div menjadi 100% dari container */
    margin-left: 0; /* Menghapus margin kiri */
    margin-right: 0; /* Menghapus margin kanan */
    margin-bottom: 20px; /* Atur margin bawah jika diperlukan */
  }
  .seksi1,
  .seksi{
    font-size: 18px;
  }
  .profile-paragraph1,.profile-paragraph2{
    font-size: 15px;
  }
}
